.progress-meter {

.background {
    fill: #DFEAFD;
  }

.foreground {
    fill: #2E7AF9;
  }
  
.text2 {
    font-family: 'Georgia' sans-serif;
    font-size: 20px;
  }
text {
    font-family: 'Georgia' sans-serif;
    font-size: 90px;
  }

}